data/zonal_histogram_berlin.csv
data/zonal_histogram_portugal.csv

geodata/islas_20170101_generalizada.shx
geodata/islas_20170101_generalizada.shp
geodata/islas_20170101_generalizada.prj
geodata/islas_20170101_generalizada.dbf

LandcoverZonalStatistics_WIP.ipynb
Landcover Zonal Statistics_WIP.py
.ipynb_checkpoints

landcover_map.qgz